<div id="users_list_box" class="users_list_box fade-in-up-scale">
  <% if @users.present? %>
    <div class="flex-col-start">
      <h2 class="mb-lg">Users list</h2>
      <% if @users.present? %>
        <% @users.order(updated_at: :desc).each do |user| %>
          <%= render 'user', user: user %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
