<div id="users_list_box" class="fade-in-up-scale">
    <div class="flex-col-start">
        <h2 class="mb-lg">Users list</h2>
        <% @users.each do |user| %>
            <%= render 'user', user: user %>
        <% end %>
    </div>
</div>
