<div class="bg">
    <%= form_with model: @user, url: users_path, method: :post, data: { turbo_frame: 'user_form' }, class: 'container' do |userForm| %>
        <%= render 'form', form: userForm %>
        <%= userForm.submit 'Save'%>
    <% end %>
</div>